body{
    background-color: #607D8B;
    align-content: center;
    color: #333;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    
}
#cabecera #titNombre {
    font-size: 2em;
}
#cabecera #logo{
    width: 8em;
    vertical-align: middle;
}
#container {
    background-color: white;
    width: 70%;
    text-align: center;
    border: 1px solid #DDD;
    margin: 0 auto;
}
#container h1{
    font-size: 25px;
    text-transform: uppercase;
}
#cabecera{
    background-color:#444444;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.75);
}
#cabecera #tagline{
    font-weight: normal;
    font-size: 1.5em;
    padding: 0 0 0 1em;
    color: cadetblue;
}
#footer{
    color: white;
    width: 100%;
    padding: 0.02em 0;
    background-color: #444444;
    font-size: 1.5em;
}